*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}

:root{
    --color-1: #E2F1FF;
    --color-2: #008F87;
    --color-3: #D8A31A;
    --color-4: #93ABDE;
}

.container{
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    background-color: var(--color-2);
    display: grid;
    flex-wrap: wrap;
    gap: 3px;
    border-radius: 1px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

#particles-js{
    height: 100vh;
    width: 100vw;
}

h2{
   color: var(--color-3);
   font-weight: bold;
   font-size: 17px;
   margin-right: 20px;
}

body{
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow: hidden;
    min-width: 100%;
}

#update,#delete{
    color: black;
    font-weight: 700;
}



.container .head{
    text-align: center;
    margin: 25px;
    gap: 10px;
    display: grid;
    padding-right: 25px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-1);
}


.inputs{
    width: 100%;
    display: grid;
    gap: 2px;
}

input{
    padding: 2px 2px;
    margin: 2px 1px;
    outline: none;
    width: calc(90% + 5px);
    border: none;
    background: var(--color-1);
    color: var(--color-5);
    height: 20px;
    transition: .5s;
    height: 27px;
    border-radius: 10px 0 10px 0;
}

button{
    outline: none;
    background-color: var(--color-3);
    width: calc(90% + 5px);
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
    transition: .6s;
    color: var(--color-5);
    display: grid;
    padding: 5px;
    gap: 1px;
    margin-top: 1px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 10px 0 10px 0;
}



button:hover{
    background-color: var(--color-4);
}

input:focus{
    background-color: var(--color-1);
    overflow: hidden;
}



#total{
    background-color: red;
    color: var(--color-1);
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.363);
    border-radius: 1px;
    padding: 2px;
}

#total::before{
    content: 'Total:';
    font-weight: 700;
}

table th{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-1);
    gap: 10px;
    font-weight: 700;
    position: relative;
    right: 15px;
}


#tbody-el{
    position: relative;
    top: 0;
    right: 16px;
    font-size: 12px;
    color: var(--color-1);
    font-weight: 700;

}

table{

    grid-gap: 15px;
    text-align: center;
    padding-top: 5px;
    margin: 10px 0;
    font-weight: bold;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

