*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}

:root{
    --color-1: #15181a;
    --color-2: #EE9747;
    --color-3: #D3FBD8;
    --color-4: #ffffff;
}

.container{
    width: 80%;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    background-color: var(--color-2);
    display: grid;
    gap: 3px;
    border-radius: 1px;

}

body{
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
}

.container .head{
    text-align: center;
    margin: 25px;
    gap: 10px;
    display: grid;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-1);
}


.inputs{
    width: 100%;
    display: grid;
    gap: 2px;
}

input{
    padding: 5px;
    margin: 2px 1px;
    outline: none;
    width: calc(90% + 10px);
    border: none;
    background: var(--color-1);
    color: var(--color-2);
    height: 20px;
    transition: .5s;
    height: 27px;
}

button{
    outline: none;
    background-color: var(--color-3);
    width: calc(90% + 10px);
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
    transition: .6s;
    color: var(--color-1);
    padding: 8px;
    font-weight: 700;
}

button:hover{
    background-color: var(--color-4);
}

input:focus{
    background-color: var(--color-1);
    overflow: hidden;
}



#total{
    background-color: red;
    color: var(--color-4);
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.363);
    border-radius: 1px;
    padding: 2px;
}

#total::before{
    content: 'Total:';
    font-weight: 700;
}

table th{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-1);
    gap: 10px;
    font-weight: 700;
}

table{
    width: 93%;
    grid-gap: 10px;
    text-align: center;
    padding-top: 5px;
    margin: 10px 0;
    font-weight: bold;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

footer{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    position: relative;
    padding-left:50px;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 700;
    padding-top: 25px;
    text-align:center;

}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

footer .container i{
    font-weight: 400;
    transition: .7s;
    color: var(--color-3);
    
}

footer .container i:hover{
    transform: scale(1.1);
    color: rgb(83, 134, 182);
}

@media (min-width: 768px) {
    footer .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
